/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=MuseoModerno:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,600;1,100;1,200;1,300;1,400;1,700;1,800&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Header Section Start */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #222f3e;
}
.logo{
  font-size: 2em;
  color: #fff;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  margin-right: 25px;
}
.navbar ul li a{
  font-size: 18px;
  color: #fff;
}
.navbar ul li a i{
  font-size: 25px;
}
/* Header Section End */

/* Home Sectio Start */
section{
  padding: 20px 10%;
}
.home{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-text{
  width: 500px;
}
.home-text h1{
  font-size: 3em;
  margin-bottom: 20px;
  color: #222f3e;
}
.home-text p{
  color: #576574;
  font-size: 18px;
}
.btn{
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #e84393;
  border: none;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
/* Home Section End */

/* Logo Section Start */
.logo2{
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 25px 35px rgba(223, 230, 233,1.0);
}